@font-face {
  font-family: IranYekan;
  src: url(./asset/iranyekan/woff/IRANYekanXVF.woff);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl !important;
  font-family: IranYekan;
}
body {
  margin: 0 15px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
